<h1 class="text-center font-bold">Dragon Ball</h1>
<hr />

<section class="row">
  <div class="col-12 col-sm-6">
    <h3>Agregar: {{ name() }}</h3>
    <input
      type="text"
      class="form-control"
      placeholder="Nombre"
      [value]="name()"
      (input)="name.set(txtName.value)"
      #txtName
    />
    <h3>Agregar: {{ power() }}</h3>
    <input
      type="number"
      class="form-control"
      placeholder="Poder"
      [value]="power()"
      (input)="power.set(+txtPower.value)"
      #txtPower
    />
    <button (click)="addCharacter()" class="mt-2 btn btn-primary">Agregar</button>
  </div>

  <div class="col-12 col-sm-6">
    <h3>Listado de personajes</h3>
    <ul>
      @for (character of characters(); track character.id; let i = $index) {
        @if (character.power > 5000) {
          <li>
            <span>{{ i + 1 }} - {{ character.name }}</span>
            <strong [ngClass]="powerClasses(character.power)">
              {{ character.power }}
            </strong>
            <button (click)="deleteCharacter(character.id!)" class="btn btn-danger p-1 ms-2">
              X
            </button>
          </li>
        }
      }
    </ul>
  </div>
</section>
